body {
  background-color: greenyellow;
  background-image: url(d80f4ad164ce9f2122c9fbea73f93227.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1,8em; }

